<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <legacyCorruptedStateExceptionsPolicy enabled="true" />
    </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="CeyPASS" connectionString="Server=192.168.0.23\SQLEXPRESS01;Database=CeyPASS;User Id=sa;Password=Pdks1234!*;MultipleActiveResultSets=True;" />
    </connectionStrings>
    <appSettings>
        <add key="LogFilePath" value="C:\Logs\pdks_log.txt" />
        <add key="ConnectionCheckIntervalSeconds" value="30" />
        <add key="ReconnectionIntervalSeconds" value="60" />
        <add key="MealHallActivationIntervalMinutes" value="10" />
        <add key="SmtpServer" value="smtp-mail.outlook.com" />
        <add key="SmtpPort" value="587" />
        <add key="SmtpUser" value="sistembildirim@ceyholding.com.tr" />
        <add key="SmtpPassword" value="SysB34++" />
        <add key="FromEmail" value="sistembildirim@ceyholding.com.tr" />
    </appSettings>
</configuration>